<form>
  <input type="text" value="first">
  <input type="text" value="last">
  <input type="text" value="age">
  <input type="text" value="gender">
  <input type="text" value="dtgd">
  <input type="text" value="phone">
  <button>Submit</button>
</form>