<html>
  <head>
    <title>Add a Friend</title>
  </head>
  <body>
    <form action ="/contacts" method="post">
      <label for="first">hey girl, what's yo first name?" </label><br>
      <input type="text" name="first" autofocus><br>

      <label for="first">hey girl, what's yo last name??</label><br>
      <input type="text" name="last" autofocus><br>

      <label for="first">hey girl hey, give me your age. Ain't lookin for no Jail Bait </label><br>
      <input type="number" name="age" autofocus><br>

      <label for="first">hey girl hey..hey. No judgement, but whats your gender? </label><br>
      <input type="text" name="gender" autofocus><br>

      <label for="first">Yo, I'm really lookin for someone who can get down, is that you? Tell me thats true and not false. </label><br>
      <input type="text" name="dtgd" autofocus><br>

      <label for="first">Aight cool cool, You're lookin good, throw me yo numbah </label><br>
      <input type="text" name="phone" autofocus><br>
    </form>
  </body>
</html>