<p><a href="/new_person">Add A New Contact</a></p>
<h1>Address Book:</h1>
<ul>
<% @person.each do |first, value|  %>
<li>
  <a href='/address/<%= first["first"] %>'><%= first["first"].capitalize %></a>
</li>
<% end %>
</ul>